@model WeatherApp.Models.ProfileViewModel
@{
    ViewBag.Title = "Profile";
}

<div class="jumbotron">
    <h1>Profile</h1>
</div>

@if (Model.exists)
{
    <div class="row">
        <div class="col-xs-12">
            <h2>Saved location: @Model.LocationName (@Model.LocationKey)</h2>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-xs-12">
            <p>Find your city! Start with a region and narrow it down:</p>
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-3">
        <select id="region" name="region" onchange="getCountry(this)"></select>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
        <select id="country" name="country" onchange="getAdmin(this)" hidden></select>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
        <select id="admin" name="admin" onchange="showCity()" hidden></select>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
        <input id="city" name="city" hidden>
        <button id="btnCity" onclick="getCity()" hidden>Find City</button>
    </div>
</div>
<div class="label-warning" id="error">
</div>
<div class="row" id="saveProfileArea" hidden><br />
    <div class="col-xs-12">
        <p>Select the city you wish to save as your location:</p>
        <div id="cityList"></div>
        <br />
        <button id="btnSave" onclick="saveProfile()" hidden>@if (Model.exists) {<span>Update Profile</span>}else{<span>Save Profile</span>}</button>
    </div>
</div>


<script>
    
    $(document).ready(function () {
            console.log("ready");

        var jqxhr = $.get("@Url.Action("GetRegions","Home")", function (response) {

            $("#region").show();

            //build region select list
            var list = $("#region").empty();
            list.append($("<option>").attr('value', "--").text("Select a Region..."));

            response.forEach(function (e) {
                list.append($("<option>").attr('value', e.ID).text(e.EnglishName));
            });
        }).fail(function (r) {
            if (r.status == 500) {
                $("#error").append("The AccuWeather Trial Account is probably out of pings, we only get 50!")
            }
        });
    });

    function getCountry(selected) {
        var s = selected.options[selected.selectedIndex].value;

        var jqxhr = $.get("@Url.Action("GetCountryByRegion", "Home")?region="+s, function (response) {

            $("#country").show();

            //build region select list
            var list = $("#country").empty();
            list.append($("<option>").attr('value', "--").text("Select a Country..."));

            response.forEach(function (e) {
                list.append($("<option>").attr('value', e.ID).text(e.EnglishName));
            });
        }).fail(function (r) {
            if (r.status == 500) {
                $("#error").append("The AccuWeather Trial Account is probably out of pings, we only get 50!")
            }
        });
    }

    function getAdmin(selected) {
        var s = selected.options[selected.selectedIndex].value;

        var jqxhr = $.get("@Url.Action("GetAdminAreaByCountry", "Home")?country=" + s, function (response) {

            $("#admin").show();

            //build select list
            var list = $("#admin").empty();
            list.append($("<option>").attr('value', "--").text("Select an Admin Area..."));

            response.forEach(function (e) {
                list.append($("<option>").attr('value', e.ID).text(e.EnglishName));
            });
        }).fail(function (r) {
            if (r.status == 500) {
                $("#error").append("The AccuWeather Trial Account is probably out of pings, we only get 50!")
            }
        });
    }

    function showCity() {
        $("#city").show();
        $("#btnCity").show();
    }

    function getCity() {
        $("#saveProfileArea").show();

        var c = $("#country :selected").val();
        var a = $("#admin :selected").val();
        var s = $("#city").val();

        var jqxhr = $.get("@Url.Action("GetCityByCountryAndAdmin", "Home")?country=" + c + "&admin=" + a + "&search=" + s, function (response) {
            var list = $("#cityList").empty();

            response.forEach(function (e) {
                //in case more than one
                list.append("<label><input type='radio' id='" + e.Rank + "' value='" + e.Key + "' name='cityList'> " + e.EnglishName + "</label><br>");
            });

            $("#btnSave").show();

        }).fail(function (r) {
            if (r.status == 500) {
                $("#error").append("The AccuWeather Trial Account is probably out of pings, we only get 50!")
            }
        });
    }

    function saveProfile() {
        //send user id & location key to save to db
        var lk = $("input[type='radio'][name='cityList']:checked").val();
        var ln = $("input[type='radio'][name='cityList']:checked").parent('label').text();
        
        if (Undefined(lk)) {
            $("#error").append("<p>Please select a city</p>");
            return false;
        }

        if ("True" == "@Model.exists") {
            $.get("@Url.Action("UpdateProfile", "Profile")?locationKey=" + lk + "&locationName=" + ln, function (response) {
                
                if (response === "ERROR") {
                    $("#error").append(response);
                } else {
                    location.href = "../Home/Index";
                }
            });
        }
        else
        {
            $.get("@Url.Action("AddProfile", "Profile")?locationKey=" + lk + "&locationName=" + ln, function (response) {
                
                if (response === "ERROR") {
                    $("#error").append(response);
                } else {
                    location.href = "../Home/Index";
                }
            });
        } 
    }

    function Undefined(value) {
        var undefined = void (0);
        return value === undefined;
    }
</script>